# ignore unused files
4169390-middle.png
css.png
django icon.png
example.html
example.txt
html and css.png
html.png
Hyperiondev-logo.jpg
python logo.jpg
python logo.png
python-django-1.png
SE L2T16 - CSS Overview.pdf
Additional Reading/
Examples/
